
name: CMAKE

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
        build_type: [Release]
        include:
          - os: ubuntu-latest
            c_compiler: clang-21
            cpp_compiler: clang++-21
          - os: windows-latest
            c_compiler: clang
            cpp_compiler: clang++

    steps:
      - uses: actions/checkout@v4

      - name: Install Clang 21 & Dependencies (Linux)
        if: runner.os == 'Linux'
        run: |
          sudo add-apt-repository ppa:ubuntu-toolchain-r/test -y
          sudo apt-get install -y gcc-14 g++-14 libstdc++-14-dev
          
          wget https://apt.llvm.org/llvm.sh
          chmod +x llvm.sh
          sudo ./llvm.sh 21
          sudo apt-get update
          sudo apt-get install -y \
            libomp-21-dev libpolly-21-dev \
            build-essential git make pkg-config cmake ninja-build \
            libasound2-dev libpulse-dev libaudio-dev libfribidi-dev \
            libjack-dev libsndio-dev libx11-dev libxext-dev \
            libxrandr-dev libxcursor-dev libxfixes-dev libxi-dev \
            libxss-dev libxtst-dev libxkbcommon-dev libdrm-dev \
            libgbm-dev libgl1-mesa-dev libgles2-mesa-dev \
            libegl1-mesa-dev libdbus-1-dev libibus-1.0-dev \
            libudev-dev libthai-dev libpipewire-0.3-dev \
            libwayland-dev libdecor-0-dev liburing-dev \
            libglm-dev

      - name: Set up Clang
        if: runner.os == 'Windows'
        uses: egor-tensin/setup-clang@v2
        with:
          version: latest
          platform: x64

      - name: Setup SDL
        uses: libsdl-org/setup-sdl@main
        with:
          version: 3-latest
          cmake-arguments: -DSDL_X11_XSCRNSAVER=OFF

      - name: Setup Vulkan SDK
        uses: lukka/get-cmake@latest

      - name: Install Vulkan SDK
        uses: jakoch/install-vulkan-sdk-action@v1
        with:
          install_runtime: true
          cache: true
          stripdown: true

      - name: Configure CMake
        run: >
          cmake -B build
          -DCMAKE_C_COMPILER=${{ matrix.c_compiler }}
          -DCMAKE_CXX_COMPILER=${{ matrix.cpp_compiler }}
          -DCMAKE_BUILD_TYPE=${{ matrix.build_type }}
          -DINTERACTIVE_SAMPLES=OFF
          -DUNIT_TESTS=OFF
          -S .

      - name: Build
        run: cmake --build build --config ${{ matrix.build_type }} --parallel

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-${{ matrix.os }}-${{ matrix.cpp_compiler }}
          path: |
            build/2g43s
            build/Release/2g43s.exe