
name: CMAKE

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
        build_type: [Release]
        cpp_compiler: [clang++-21]
        include:
          - os: windows-latest
            cpp_compiler: clang++-21
          - os: ubuntu-latest
            cpp_compiler: clang++-21

    steps:
      - uses: actions/checkout@v4

      - name: Dependencies (Linux)
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            build-essential git make \
            pkg-config cmake ninja-build gnome-desktop-testing libasound2-dev libpulse-dev \
            libaudio-dev libfribidi-dev libjack-dev libsndio-dev libx11-dev libxext-dev \
            libxrandr-dev libxcursor-dev libxfixes-dev libxi-dev libxss-dev libxtst-dev \
            libxkbcommon-dev libdrm-dev libgbm-dev libgl1-mesa-dev libgles2-mesa-dev \
            libegl1-mesa-dev libdbus-1-dev libibus-1.0-dev libudev-dev libthai-dev \
            libpipewire-0.3-dev libwayland-dev libdecor-0-dev liburing-dev \
            libglm-dev libomp-dev

      - name: Set up Clang
        uses: egor-tensin/setup-clang@v2
        with:
          version: latest
          platform: x64

      - name: Setup SDL
        uses: libsdl-org/setup-sdl@main
        with:
          version: 3-latest
          cmake-arguments: -DSDL_X11_XSCRNSAVER=OFF

      - name: Setup Vulkan SDK
        uses: lukka/get-cmake@latest

      - name: Install Vulkan SDK
        uses: jakoch/install-vulkan-sdk-action@v1
        with:
          install_runtime: true
          cache: true
          stripdown: true

      - name: Configure CMake
        shell: bash
        run: |
          if [ "${{ runner.os }}" == "Linux" ]; then
            export CC=clang-21
            export CXX=clang++-21
          else
            export CC=clang
            export CXX=clang++
          fi
          
          cmake -B build \
            -DCMAKE_C_COMPILER=$CC \
            -DCMAKE_CXX_COMPILER=$CXX \
            -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} \
            -DSDL_X11_XSCRNSAVER=OFF \
            -DINTERACTIVE_SAMPLES=OFF \
            -DUNIT_TESTS=OFF \
            -S .

      - name: Build
        run: cmake --build build --config ${{ matrix.build_type }} --parallel

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-${{ matrix.os }}-clang-21
          path: |
            build/2g43s
            build/Release/2g43s.exe