
name: CMAKE

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
        build_type: [Release]
        cpp_compiler: [clang++-19, cl]
        include:
          - os: windows-latest
            cpp_compiler: cl
          - os: ubuntu-latest
            cpp_compiler: clang++-19
        exclude:
          - os: ubuntu-latest
            cpp_compiler: cl
          - os: windows-latest
            cpp_compiler: clang++-19

    steps:
      - uses: actions/checkout@v4

      - name: Install Clang 19 & Dependencies (Linux)
        if: runner.os == 'Linux'
        run: |
          # Установка свежего Clang 19 для C++26
          wget https://apt.llvm.org/llvm.sh
          chmod +x llvm.sh
          sudo ./llvm.sh 19
          sudo apt-get update
          sudo apt-get install -y \
            clang-19 libpolly-19-dev \
            build-essential git make \
            pkg-config cmake ninja-build gnome-desktop-testing libasound2-dev libpulse-dev \
            libaudio-dev libfribidi-dev libjack-dev libsndio-dev libx11-dev libxext-dev \
            libxrandr-dev libxcursor-dev libxfixes-dev libxi-dev libxss-dev libxtst-dev \
            libxkbcommon-dev libdrm-dev libgbm-dev libgl1-mesa-dev libgles2-mesa-dev \
            libegl1-mesa-dev libdbus-1-dev libibus-1.0-dev libudev-dev libthai-dev \
            libpipewire-0.3-dev libwayland-dev libdecor-0-dev liburing-dev
          

      - name: Setup SDL
        uses: libsdl-org/setup-sdl@main
        with:
          version: 3-latest
          cmake-arguments: -DSDL_X11_XSCRNSAVER=OFF

      - name: Setup Vulkan SDK
        uses: lukka/get-cmake@latest

      - name: Install Vulkan SDK
        uses: jakoch/install-vulkan-sdk-action@v1
        with:
          install_runtime: true
          cache: true
          stripdown: true

      - name: Configure CMake
        # Используем clang++-19 явно, чтобы CMake не взял старый компилятор
        run: >
          cmake -B build
          -DCMAKE_CXX_COMPILER=${{ matrix.cpp_compiler }}
          -DCMAKE_BUILD_TYPE=${{ matrix.build_type }}
          -DINTERACTIVE_SAMPLES=OFF
          -DUNIT_TESTS=OFF
          -S .

      - name: Build
        run: cmake --build build --config ${{ matrix.build_type }} --parallel

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-${{ matrix.os }}-${{ matrix.cpp_compiler }}
          path: |
            build/2g43s
            build/Release/2g43s.exe