name: CMake on multiple platforms

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
        build_type: [Release]
        cpp_compiler: [clang++, cl]
        include:
          - os: windows-latest
            cpp_compiler: cl
          - os: ubuntu-latest
            cpp_compiler: clang++
        exclude:
          - os: ubuntu-latest
            cpp_compiler: cl
          - os: windows-latest
            cpp_compiler: clang++

    steps:
      - uses: actions/checkout@v4

      - name: Install Linux Dependencies
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y libx11-dev libxcursor-dev libxinerama-dev libxrandr-dev libxi-dev libwayland-dev libxkbcommon-dev libx11-xcb-dev

      - name: Setup SDL
        uses: libsdl-org/setup-sdl@main
        with:
          version: 3-latest

      - name: Setup Vulkan SDK
        uses: lukka/get-cmake@latest

      - name: Install Vulkan SDK
        uses: jakoch/install-vulkan-sdk-action@v1
        with:
          install_runtime: true
          cache: true
          stripdown: true

      - name: Configure CMake
        # Добавляем -DINTERACTIVE_SAMPLES=OFF
        run: >
          cmake -B build
          -DCMAKE_CXX_COMPILER=${{ matrix.cpp_compiler }}
          -DCMAKE_BUILD_TYPE=${{ matrix.build_type }}
          -DINTERACTIVE_SAMPLES=OFF
          -DUNIT_TESTS=OFF
          -S .

      - name: Build
        run: cmake --build build --config ${{ matrix.build_type }} --parallel

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-${{ matrix.os }}-${{ matrix.cpp_compiler }}
          path: |
            build/2g43s
            build/${{ matrix.build_type }}/2g43s.exe
            build/*.exe